services:
  postgres:
    image: postgres:latest
    container_name: l0-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql
    networks:
      - l0-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: l0-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - l0-network
    healthcheck:
      test: ["CMD", "bash", "-c", "echo 'ruok' | nc -w 2 localhost 2181"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:5.5.7
    container_name: l0-kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_BROKER}
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
        KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    networks:
      - l0-network
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: l0-redis
    ports:
      - "6379:6379"
    networks:
      - l0-network
    restart: unless-stopped
    command: redis-server --appendonly yes 
    volumes:
      - redis_data:/data  
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3

  server:
    build:
      context: .
    container_name: l0-server
    env_file: .env
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy 
      redis:
        condition: service_healthy
      kafka:
        condition: service_started
    networks:
      - l0-network
    restart: unless-stopped
    command: ["./wait-for-it.sh", "${KAFKA_BROKER}", "--timeout=60", "--", "./server"]
  
  producer:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: l0-producer
    env_file: .env
    depends_on:
      kafka:
        condition: service_started
    networks:
      - l0-network
    restart: unless-stopped

networks:
  l0-network:
    driver: bridge
volumes:
  postgres_data:
  redis_data:
